
junit.xml
vppci.py
__pycache__/
*.profile
.cache

dist
f.out
*.hex
compiled_binaries/

bin
venv
lib
lib64
*pyvenv*
.venv-ci/

/.idea/
/build/
/GPUTest/**/build/
/GPUTest/emulator/test_diffs/
/GPUTest/emulator-test/cardinal-ISS
